body {
  margin: 0;
  background-color: darkorange;
  color: green;
}
a{
  text-decoration: none;
  color: black;
  &:hover {
    color: darkorange;
  }
}

.shop{
  margin: 1em;
  padding: 1em;
  background-color: aliceblue;
  border-radius: 15px;
  display: flex;
  height: 80vh;

  .shops{
    min-width: 180px;
    max-width: 200px;
    padding: 0;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: green;
    color: aliceblue;

    .shopBox{
      padding: 15px;
      &:hover{
        background-color: aliceblue;
        color: green;
        cursor: pointer;
      }
    }
    .active{
      background-color: aliceblue;
      color: green;      
    }
  }
}

.goods{
  padding-left: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-self: start;
}